/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;1,600&display=swap');

/* Define font family with a fallback */
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(110, 110, 110);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .section {
    padding: 2rem 0;
  }
  
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .icon {
    font-size: 1.5rem;
  }
}

/* Root variables */
:root {
  --primary-color: hsl(299, 18%, 33%);
  --secondary-color: hsl(187, 81%, 48%);
  --gradient-color: linear-gradient(to right, hsl(187, 88%, 48%), hsl(199, 100%, 21%));
  --blacktalar: hsl(201, 38%, 68%);
  --text-color: hsl(249, 48%, 16%);
  --grey-text: rgb(190, 150, 190);
  --irguttalar: rgb(239, 239, 230);
  --body-color: rgb(240, 240, 246);
  --card-bg: rgb(225, 225, 235); 
}

/* Additional styles (list, links, etc.) */
a {
  text-decoration: none;
}

li {
  list-style: none;
}



.section{
  padding: 4rem 0 2rem;
}
.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.icon{
  font-size: 2rem;
  cursor: pointer;
}
.flex{
  display: flex;
  align-items: center;
}
