@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;1,600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

:root{
    display: inline;
  --mainColor: #0d000e;
  --mainColorLight: #5767aa;
  --secondaryColor: #DB2B39;
  --textColor: #eee;
}

header {
  
  height: 50px;
  padding: 0 1rem;
  background-color: var(--mainColor);
  color: var(--textColor);
  justify-content: center;
 align-items: center;
}

nav a{
  margin: 0 1.4rem;
  color: var(--textColor);
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

nav a:hover{
  color: var(--secondaryColor);
}


header .nav-btn {
  padding: 1px;
  cursor: pointer;
  background: transparent;
  border:none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;

}

@media only screen and (max-width: 1024px){
  header .nav-btn {
      visibility: visible;
      opacity:1;
  }

  header nav{
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      background-color: var(--mainColor);
      transition: 1s;
      transform: translateY(-100vh)
  }

  header .responsive_nav{
      transform: none;
  }

  nav .nav-close-btn {
      position: absolute;
      top: 2rem;
      right:2rem;  
  }

  nav a{
      font-size: 1.5rem;
      
  }
}
.hero {
  background-image: url('./2.jpg'); /* Replace with your hero image URL */
  background-size: cover;
  background-position: center;
  text-align: center;
  padding:  0.4px 0;
 /* Increase the size of the border-bottom with "outset" style */
border-bottom-style: outset;
border-bottom-width: 10px; /* Adjust the value to increase or decrease thickness */
  color: white;
  border-bottom-left-radius: 50px;
  border-end-end-radius: 50px;
  border-width: 1;
  border-color: rgb(0, 15, 15);
  height: 165px;
}
.image-container {
  display: flex; /* Use flexbox to align images horizontally */
  align-items: center; /* Center items vertically */
  justify-content: center;
  
  
}

.image-container img {
  max-width: 500px; /* Adjust the image width as needed */
  margin-right: 10px; /* Add spacing between the images */
  border-radius: 10px;

}

/* Other styles for .hero, .image-container, and images */
/* Add a CSS class to target the image-container in the Hero section */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: transform 0.2s ease; /* Apply the 0.2-second transform animation */

}

/* Style for the images */
.image-container .logo1 {
  max-width: 50%;
  height: auto;

}


